
*.o
.idea
.vscode*
.built-in.o.cmd
*.o.cmd
*.a
*.h.cmd
*.c.cmd
*.cmd
vmlinux.bin
vmlinux
vmlinux.bin.gz
.config
.missing-syscalls.d
.tmp_System.map
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
*.so.dbg
*.so
arch/x86/include/generated/
arch/x86/kernel/asm-offsets.s
arch/x86/realmode/rm/realmode.bin
arch/x86/realmode/rm/realmode.elf
include/config/
include/generated/
kernel/bounds.s
scripts/mod/devicetable-offsets.s
usr/.initramfs_data.cpio.d


# module
modules.builtin
modules.order
*.ko
*.mod.c
.config.old
.tmp_versions


*.ext4
rootfs_debian_x86_64
rootfs_debian_arm32
rootfs_debian_arm64

